:root {
  --bg_color: #0f172a;
  --card_bg_color: #151e31;
  --card_border_color: #2c3346;
  --card_shadow: #00000080;
  --card_hover_border_color: #384158;
  --white_text: #fff;
  --gray_text: #99a1af;
  --input_bg_color: #21293c;
  --input_border_color: #38404f;
  --btn_g_left: #923aea;
  --btn_g_right: #2cd1ee;
  --btn_text_color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: var(--bg_color);
  color: var(--white_text);
}

.app {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: var(--card_bg_color);
  padding: 20px;
  border-right: 1px solid var(--card_border_color);
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 10px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 6px;
  color: var(--gray_text);
}

.sidebar li:hover,
.sidebar .active {
  background: linear-gradient(90deg, var(--btn_g_left), var(--btn_g_right));
  color: var(--white_text);
}

/* MAIN */
.main {
  flex: 1;
  padding: 25px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.card {
  background: var(--card_bg_color);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid var(--card_border_color);
  box-shadow: 0 6px 15px var(--card_shadow);
  transition: 0.3s;
}

.card:hover {
  border-color: var(--card_hover_border_color);
  transform: translateY(-3px);
}

.card h3 {
  color: var(--gray_text);
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}

/* FORM */
.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 15px 0 25px;
}

.form input,
.form button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--input_border_color);
  outline: none;
}

.form input {
  background: var(--input_bg_color);
  color: var(--white_text);
}

.form input:focus {
  border-color: var(--btn_g_right);
}

.form button {
  background: linear-gradient(90deg, var(--btn_g_left), var(--btn_g_right));
  color: var(--btn_text_color);
  font-weight: bold;
  cursor: pointer;
  grid-column: span 3;
}

.form button:hover {
  opacity: 0.9;
}

/* TABLE */
table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
  background: var(--card_bg_color);
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--card_border_color);
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid var(--card_border_color);
}

th {
  background: #1e293b;
  color: #cbd5f5;
}

tr:nth-child(even) {
  background: #0b1220;
}

.paid {
  color: #22c55e;
  font-weight: bold;
}

.partial {
  color: #facc15;
  font-weight: bold;
}