*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI,sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#020617,#312e81,#581c87);
}

.card{
  width:420px;
  padding:25px;
  border-radius:22px;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(14px);
  border:1px solid rgba(255,255,255,0.2);
}

h2{
  text-align:center;
  color:#e0e7ff;
  margin-bottom:20px;
}

label{
  color:#c7d2fe;
  font-size:14px;
  margin-top:10px;
  display:block;
}

input{
  width:100%;
  padding:10px;
  margin-top:6px;
  border-radius:12px;
  border:none;
  background:rgba(255,255,255,0.15);
  color:white;
}

input::placeholder{
  color:#cbd5f5;
}


.dropdown{
  margin-top:6px;
  position:relative;
}

.selected{
  padding:10px;
  border-radius:12px;
  background:rgba(255,255,255,0.15);
  color:#cbd5f5;
  cursor:pointer;
}

.options{
  list-style:none;
  position:absolute;
  width:100%;
  top:45px;
  background:#020617;
  border-radius:12px;
  display:none;
  overflow:hidden;
  z-index:10;
}

.options li{
  padding:10px;
  color:white;
  cursor:pointer;
}

.options li:hover{
  background:#7c3aed;
}


.submit{
  margin-top:18px;
  width:100%;
  padding:12px;
  border-radius:25px;
  border:none;
  color:white;
  background:linear-gradient(90deg,#22d3ee,#a855f7,#ec4899);
}

.cancel{
  margin-top:10px;
  width:100%;
  padding:12px;
  border-radius:25px;
  border:1px solid #f43f5e;
  background:transparent;
  color:#f43f5e;
}